@model Tests.NestedRoot
@using DynamicVML.Extensions

<div>
    @Html.DisplayNameFor(model => model.SomePropertyR)
    @Html.EditorFor(model => model.SomePropertyR)
    @Html.ListEditorFor(model => model.Children)
</div>