@model Tests.NestedRoot
@using DynamicVML.Extensions

<div>
    @Html.DisplayNameFor(model => model.SomePropertyR)
    @Html.DisplayFor(model => model.SomePropertyR)
    @Html.DisplayListFor(model => model.Children)
</div>
