@model Tests.SimpleList
@using DynamicVML.Extensions

<div>
    @Html.DisplayNameFor(model => model.ParentProperty)
    @Html.DisplayFor(model => model.ParentProperty)
    @Html.DisplayListFor(model => model.Items)
</div>
