@using DynamicVML
@using DynamicVML.Extensions
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IDynamicList

<input type="hidden" asp-for="ContainerId" />

@* TODO: replace the inline class specifications below with a proper .css file *@

<div class="col-12" name="dynamic-list-container" id="list-container-@Model.ContainerId">
    <div class="row">
        <div class="col-12 p-0">
            <div id="@Model.ContainerId" name="dynamic-list">
                @{ Html.RenderDynamicListEditor(); }
            </div>
        </div>
    </div>
    <div class="row mr-1 text-right" name="dynamic-list-footer">
        <div class="col-12 mt-0 text-right">
            <a href="javascript:void(0);"
               name="dynamic-list-addnewitem"
               onclick="dvml.add('@Model.ContainerId', '@Html.GetDynamicListActionUrl()');">
                @Html.RenderDynamicListAddNewItemText()
            </a>
        </div>
    </div>
</div>
