@using DynamicVML
@using DynamicVML.Extensions
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IDynamicList

<input type="hidden" asp-for="ContainerId" />

<div class="col-12">
    <div class="row">
        <div class="col-12 p-0">
            <div id="@Model.ContainerId" name="dynamic-list">
                @{ Html.RenderDynamicListEditor(); }
            </div>
        </div>
    </div>
    <div class="row mr-1 text-right">
        <div class="col-12 mt-0 text-right">
            <a href="javascript:void(0);"
               onclick="dvml.add('@Model.ContainerId', '@Html.GetDynamicListActionUrl()');">
                @Html.RenderDynamicListAddNewItemText()
            </a>
        </div>
    </div>
</div>
