@model Tests.NestedA
@using DynamicVML.Extensions

<div>
    @Html.DisplayNameFor(model => model.SomePropertyA)
    @Html.EditorFor(model => model.SomePropertyA)
    @Html.ListEditorFor(model => model.Children)
</div>
