@model Tests.NestedB
@using DynamicVML.Extensions

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SomePropertyB)
        </dt>
        <dd class="col-sm-10">
            @Html.EditorFor(model => model.SomePropertyB)
        </dd>

        @Html.ListEditorFor(model => model.Children)
    </dl>
</div>
