@model Tests.NestedB
@using DynamicVML.Extensions

<div>
    @Html.DisplayNameFor(model => model.SomePropertyB)
    @Html.EditorFor(model => model.SomePropertyB)
    @Html.ListEditorFor(model => model.Children)
</div>
